<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="cryptum_cryptum" translate="label" type="text" sortOrder="88" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Cryptum Checkout by Blockforce</label>
                <comment>
                    <![CDATA[Payment module for <a href="https://blockforce.in/pt" target="_blank">Cryptum</a>]]>
                </comment>

                <!-- Common fields -->
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <comment>Enable/Disable</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <validate>required-entry</validate>
                </field>

                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <comment>This controls the title which the user sees during checkout.</comment>                                                
                </field>

                <field id="merchant_id" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Store ID</label>
                    <comment>Enter your Cryptum Checkout Store ID (Automatically Generated in Cryptum Dashboard</comment>
                    <validate>required-entry</validate>
                </field>

                <field id="api_key" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API KEY</label>
                    <comment>Enter your Cryptum API Key (Generated in Cryptum Dashboard, API Keys Section)</comment>
                    <validate>required-entry</validate>
                </field>

                <field id="environment" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Environment</label>
                    <source_model>Cryptum\Cryptum\Model\Adminhtml\Source\Environment</source_model>
                    <comment>Choose your environment. The Test environment should be used for testing only.</comment>
                    <validate>required-entry</validate>
                </field>

                <field id="store_markup_percentage" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Store Markup Percentage</label>
                    <comment>Enter your percentage markup value</comment>
                    <validate>validate-number</validate>
                </field>
                
                <field id="store_discount_percentage" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Store Discount Percentage</label>
                    <comment>Enter your percentage discount value</comment>
                    <validate>validate-number</validate>
                </field>                
            </group>
        </section>
    </system>
</config>
